.card {
  margin-bottom: 1rem;
  transition: color 0.15s ease;
  padding: 0.5rem;
  padding-top: 0;
  border-radius: 0.5rem;
  cursor: pointer;
}

.card h5 {
  padding-top: 1rem;
  height: 1.5rem;
}

.card img {
  border-radius: 0.5rem;
  opacity: 0.8;
  transition: opacity 0.15s ease;
}

.card:hover {
  color: #236dc2;
}

.card:hover img {
  opacity: 1;
}

.placeholder {
  width: 480px;
  height: 270px;
  border-radius: 0.5rem;
}
