.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.card {
  margin: 1rem;
}

.link {
  color: grey;
  transition: color 0.15s ease;
  cursor: pointer;
}

.link:hover {
  color: #236dc2;
}

@media (max-width: 600px) {
  .cards {
    width: 100%;
    flex-direction: column;
  }
}
