.container {
  height: 15rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
}
.search {
  margin: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid #eaeaea;
  width: 20rem;
  transition: color 0.15s ease, border-color 0.15s ease, width 0.15s ease;
}

.search:hover,
.search:focus,
.search:active {
  border-color: #236dc2;
}

.search:focus,
.search:active {
  width: 25rem;
}

.card {
  height: 12rem;
  width: 10rem;
  border: 1px solid transparent;
  padding: 0 0.5rem 0 0.5rem;
  margin: 0.5rem;
  transition: color 0.15s ease;
}

.card:hover {
  cursor: pointer;
  color: rgb(81, 81, 216);
}

.card p {
  font-size: small;
  transition: color 0.15s ease;
}

.card p:hover {
  cursor: pointer;
  color: rgb(245, 188, 65);
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    flex-direction: column;
  }
}
